.TitleBar{
  background-color: #13aa52;
  color: white;
  padding-top: 100px;
  padding-left: 0px;
}

.NavBar{
  background-color: white;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
}

.footer-background {
  background-color: #363636;
  color: white;
  padding-top: 20px;
  padding-bottom: 0px;
}

.landing {
  background: url("/images/manoa-blur.jpg");
  background-size: cover;
  height: 100%;
  margin: 0;
  padding-top: -20px;
  padding-bottom: 450px;
  color: white;
  font: sans-serif;
}
