.TitleBar {
  background-color: #13aa52;
  /*#13aa52 and #024731 keep this in case of changes*/
  color: #FFFFFF;
  padding-left: 0;
}

.limit {
  height: 150px !important;
  width: 150px !important;
}

.limitCard {

}

.edit {
  float: right !important;
}

.NavBar {
  background-color: #fafafa;
  color: #024731 !important;
  padding-top: 60px;
  padding-left: 0;
}

#search {
  border-color: #024731 !important;
}

.footer-background {
  background-color: #363636;
  color: white;
  margin-top: 20px !important;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.landing {
  background-size: auto;
  background: url("/images/manoa-campus-dark.jpg") fixed;
  height: 100%;
  margin: 0;
  padding-top: -20px;
  padding-bottom: 0;
  color: white;
  font: sans-serif;
}

.background {
  background-color: #fcfbfb;
  background-size: cover;
  height: 100%;
  padding-bottom: 0;
  color: white;
}

.gridStyle {
  border-bottom: 40px;
}

.features {
  background-color: #fcfbfb;
}

h1 {
  font-family: "Roboto", "Helvetica Neue", serif;
  font-size: 30px !important;
  color: #4a4a4a;
  padding-top: 50px !important;
  padding-bottom: 30px !important;
}

h4 {
  font-family: "Roboto", "Helvetica Neue", serif;
  color: #4a4a4a;
  padding-bottom: 30px !important;
}

#test {
  color: #000000;
}

.SOFoot {
  background-color: #363636;
  color: white;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 14px;
  text-align: center;
}

#sign-up {
  padding-top: 150px;
  padding-bottom: 80px;
}

#sign-page {
  font-family: "Roboto", "Helvetica Neue", serif;
  background-color: #fafafa !important;
  /*#FFFFFF or #f5f2ee try this later instead for white background*/
  height: 100%;
}

#span {
  font-family: "Roboto", "Helvetica Neue", serif;
  color: #000000;
  text-align: center !important;
}

#log-page {
  font-family: "Roboto", "Helvetica Neue", serif;
  background-color: #fafafa !important;
  /*#FFFFFF or #f5f2ee try this later instead for white background*/
  height: 100%;
}

#log-in {
  padding-top: 150px;
  padding-bottom: 125px;
}

#signed-out {
  padding-top: 150px;
  padding-bottom: 350px;
}

#out-page {
  font-family: "Roboto", "Helvetica Neue", serif;
  background-color: #fafafa !important;
  /*#FFFFFF or #f5f2ee or #fafafa try this later instead for white background*/
  height: 100%;
}

#redirect {
  text-align: center !important;
  font-family: "Roboto", "Helvetica Neue", serif;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 50px;
}

#sign-in-text {
  text-align: center;
}

#prof-middle {
  background-color: #f5f2ee !important;
  padding-top: 50px;
  padding-bottom: 400px;
}

#profText {
  font-family: "Roboto", "Helvetica Neue", serif;
}